/target/
!.mvn/wrapper/maven-wrapper.jar
/src/main/resources/rebel.xml
/src/test/java/com/lzxuni/generator/*
/logs/
*.log
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr