<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzxuni.modules.system.mapper.BaseDataitemMapper">

    <!-- 根据id查询 -->
    <select id="queryListByParentId" parameterType="java.lang.String" resultType="com.lzxuni.modules.system.entity.BaseDataitem">
		select * from base_dataitem where parent_id=#{parentId} order by sort_code  asc
	</select>
</mapper>
