<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzxuni.modules.system.mapper.RoleUserMapper">
    <!-- 根据角色删除所属用户 -->
    <delete id="deleteUserRoleByRoleId" parameterType="string">
        delete from sys_roleuser where role_id=#{id}
    </delete>

</mapper>