<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzxuni.modules.system.mapper.RoleMapper">
	<!-- 根据id查询 -->
	<select id="queryList" parameterType="com.lzxuni.modules.system.entity.Role" resultType="com.lzxuni.modules.system.entity.Role">
		select * from sys_role
	</select>
    <!-- 根据角色查询所属用户 -->
    <select id="queryUserIdsByRoleId" resultType="string">
       select user_id from sys_roleuser where role_id=#{id}
    </select>


</mapper>