<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="${request.contextPath}/static/Content/jquery/jquery-1.10.2.min.js"></script>
</head>
<body>
    username:<input type="text" name="username" id="username" value="system"/>
    password:<input type="password" name="password" id="password" value="111111"/>
    <input type="button" value="提交" onclick="login()"/>
    <script>
        function login() {
            var data = "username=" + $("#username").val() + "&password=" + $("#password").val();
            $.ajax({
                type: "POST",
                url: "login_o.html",
                data: data,
                dataType: "json",
                success: function(result){
                    if(result.code == 0){//登录成功
                        location.href ='/admin/index.html';
                    }else{
                        console.log("登陆失败");
                    }
                }
            });
        }
    </script>
</body>
</html>